In [84]:
import pandas as pd
import re
import datetime as dt
from datetime import date

In [85]:
jkt48_frame = pd.read_excel('jkt48_member_fix_1.xlsx')

In [86]:
jkt48_frame['Kelahiran'] = jkt48_frame['Kelahiran'].fillna(jkt48_frame['Kelahiran (Usia)'])

In [87]:
jkt48_frame['Tanggal Lahir'] = jkt48_frame['Kelahiran']

In [88]:
jkt48_frame['Tempat Lahir'] = jkt48_frame['Kelahiran']

In [89]:
## DATA CLEANING
# pisahkan kelahiran hanya menjadi kota saja

In [101]:
# cleaning birth location column
# dua kali execute
row = 0
location = []
for i in jkt48_frame['Tempat Lahir']:
    word = []
    try:
        for char in i:
            if char == ',':
                break
            else:
                word.append(char)
        s = ''.join(word)
        location.append(s)
        row += 1
    except TypeError:
        location.append(i)
        row += 1

In [102]:
# value location yg bener
location

['Jakarta',
 'Jakarta',
 'Palembang',
 'Jakarta',
 'Kota Tangerang',
 'Banyumas',
 'Kota Pekalongan',
 'Jakarta',
 'Cianjur',
 'Jakarta',
 'Kota Bandung',
 'Kota Batam',
 'Jakarta',
 'Bandar Lampung',
 'Kota Bogor',
 'Jakarta',
 'Banyumas',
 'Kota Pasuruan',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Palembang',
 'Kota Bandung',
 'Karawang',
 'Kota Bogor',
 'Jakarta',
 'Kota Bandung',
 'Jakarta',
 'Jakarta',
 'Yogyakarta',
 'Jakarta',
 'Palembang',
 'Jakarta',
 'Kebumen',
 'Jakarta',
 'Jakarta',
 'Purwakarta',
 'Denpasar',
 'Palembang',
 'Kota Tangerang',
 'Kota Tangerang',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Kota Tangerang',
 'Kota Tangerang',
 'Jakarta',
 'Bandar Lampung',
 'Kota Serang',
 'Kota Tangerang',
 'Jakarta',
 'Johor Bahru',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Surabaya',
 'Jakarta',
 'Sidoarjo',
 'Surabaya',
 'Jakarta',
 'Kota Bekasi',
 'Jakarta',
 'Kota Jambi',
 'Kota Bekasi',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Depok',
 'Kota Tangerang',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Indonesia',
 'Lebak',
 'Jakarta',
 'Jakarta',
 'Indonesia',
 'Bandung',
 'Belanda',
 'Indonesia',
 'Bandung',
 'Indonesia',
 'Banten',
 'Bandung',
 'Jakarta',
 'Semarang',
 'Jakarta',
 'Jakarta',
 'Tokyo',
 'Nagoya',
 'Indonesia',
 'Indonesia',
 'Pontianak',
 'Jakarta',
 'Bogor',
 'Jakarta',
 'Surabaya',
 'Surabaya',
 'Bogor',
 'Denpasar',
 'Jakarta',
 'Semarang',
 'Karawang',
 'Bandung',
 'Jakarta',
 'Jakarta',
 'Bogor',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Bogor',
 'Jakarta',
 'Pekanbaru',
 'Bekasi',
 'Bandung',
 'Bandung',
 'Garut',
 'Jakarta',
 'Kepahiang',
 'Banjarmasin',
 'Pandeglang',
 'Bogor',
 'Tokyo',
 'Padang',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Bandung',
 'Tokyo',
 'Depok',
 'Bandung',
 'Depok',
 'Tangerang',
 'Bandung',
 'Jakarta',
 'Bandung',
 'Jakarta',
 'Tangerang',
 'Jakarta',
 'Palembang',
 'Jakarta',
 'Palembang',
 'Daerah Istimewa Yogyakarta',
 'Betsukai',
 'Jakarta',
 'Kota Kediri',
 'Indonesia',
 'Denpasar',
 'Jakarta',
 'Jakarta',
 'Indonesia',
 'Indonesia',
 'Bekasi',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Solo',
 'Bogor',
 'Jakarta',
 'Jakarta',
 'Bandung',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Bandung',
 'Bandung',
 'Jakarta',
 'Semarang',
 'Osaka',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Indonesia',
 'Jakarta',
 'Jakarta',
 'Jakarta',
 'Kota Tangerang',
 'Jakarta',
 'Pandeglang',
 'Denpasar',
 'Jakarta',
 'Jakarta',
 'Kota Bekasi',
 'Jakarta',
 'Jakarta',
 'Jakarta']

In [96]:
jkt48_frame['Tempat Lahir'] = location

In [100]:
jkt48_frame['Tempat Lahir'][149] = 'Bandung'

In [103]:
jkt48_frame_v1 = jkt48_frame

In [104]:
jkt48_frame_v1['Tempat Lahir'] = jkt48_frame['Tempat Lahir']

In [105]:
# merapikan kolom tanggal lahir
regex = re.compile(r'[0-9].*')
a = 0
for i in jkt48_frame['Tanggal Lahir'].tolist():
    try:
        jkt48_frame['Tanggal Lahir'][a] = re.findall(regex,i)
        a += 1
    except TypeError:
        i = None
        a += 1

In [106]:
jkt48_frame['Tanggal Lahir'] = jkt48_frame['Tanggal Lahir'].str[0]

In [107]:
# cleaning birth date column
row = 0
for i in jkt48_frame['Tanggal Lahir']:
    word = []
    try:
        for char in i:
            if char == '(':
                break
            else:
                word.append(char)
        s = ''.join(word)
        jkt48_frame['Tanggal Lahir'][row] = s
        row += 1
    except TypeError:
        i = None
        row += 1

In [108]:
#drop anin column duplicate
jkt48_frame.drop([21,38], inplace=True)

In [109]:
jkt48_frame_v1 = jkt48_frame.drop(columns=['Kelahiran','Kelas','Kelahiran (Usia)','Mulai dan Lama Bergabung (di Tim J)','Mulai dan Lama Bergabung (di Tim KIII)','Mulai dan Lama Bergabung (di Tim T)','Naik ke Kelas A'])

In [33]:
#creating active on jkt48 column

In [110]:
jkt48_frame_v1['Bergabung di JKT48'] = None

In [111]:
#assign date value to date list
datelist = []
for i in jkt48_frame_v1['Generasi']:
    if i == 'Pertama':
        datelist.append(dt.date(2011,11,2))
    elif i == 'Kedua':
        datelist.append(dt.date(2012,11,3))
    elif i == 'Ketiga':
        datelist.append(dt.date(2014,3,15))
    elif i == 'Keempat':
        datelist.append(dt.date(2015, 5, 16))
    elif i == 'Kelima':
        datelist.append(dt.date(2016, 5, 28))
    elif i == 'Keenam':
        datelist.append(dt.date(2018, 4, 8))
    elif i == 'Ketujuh':
        datelist.append(dt.date(2018, 9, 29))
    elif i == 'Kedelapan':
        datelist.append(dt.date(2019, 4, 27))
    elif i == 'Kesembilan':
        datelist.append(dt.date(2019, 12, 1))
    elif i == 'Kesepuluh':
        datelist.append(dt.date(2020, 8, 27))
    else:
        datelist.append(None)

In [112]:
#assign datelist to bergabung column
jkt48_frame_v1['Bergabung di JKT48'] = datelist

In [113]:
#assign datetime value to tanggal lahir column
jkt48_frame_v1['Tanggal Lahir']

0         10 Mei 2000
1      6 Januari 2006
2      5 Januari 1999
3         12 Mei 2000
4         16 Mei 2004
            ...
197        7 Juni 2000
198      23 Maret 2002
199    16 Agustus 2000
200     7 Oktober 2004
201     1 Januari 2000
Name: Tanggal Lahir, Length: 200, dtype: object

In [114]:
# ubah kata2 bulan menjadi angka
test = []
for i in jkt48_frame_v1['Tanggal Lahir']:
    try:
        for word in i.split():
            if word == "Januari":
                test.append(i.replace('Januari','01'))
            elif word == "Februari":
                test.append(i.replace('Februari','02'))
            elif word == "Maret":
                test.append(i.replace('Maret','03'))
            elif word == "April":
                test.append(i.replace('April','04'))
            elif word == "Mei":
                test.append(i.replace('Mei','05'))
            elif word == "Juni":
                test.append(i.replace('Juni','06'))
            elif word == "Juli":
                test.append(i.replace('Juli','07'))
            elif word == "Agustus":
                test.append(i.replace('Agustus','08'))
            elif word == "September":
                test.append(i.replace('September','09'))
            elif word == "Oktober":
                test.append(i.replace('Oktober','10'))
            elif word == "November":
                test.append(i.replace('November','11'))
            elif word == "Desember":
                test.append(i.replace('Desember','12'))
    except AttributeError:
        test.append(None)

In [115]:
# ganti value angka tersebut menjadi datetime
test2 = []
for i in test:
    try:
        test2.append(dt.datetime.strptime(i,'%d %m %Y '))
    except TypeError:
        test2.append(None)
    except ValueError:
        test2.append(dt.datetime.strptime(i, '%d %m %Y'))

In [116]:
# assign datetime tersebut ke tanggal lahir
jkt48_frame_v1['Tanggal Lahir'] = test2

In [117]:
jkt48_frame_v1

,Nama,Generasi,Mulai dan Lama Bergabung (di JKT48),Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B,Nama Fansclub,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Tanggal Lulus,Tanggal Lulus/ Mundur/Keluar,Tanggal Lulus/Mundur,Tanggal Mundur,Tanggal Mundur/Keluar,Usia,Tanggal Lahir,Tempat Lahir,Bergabung di JKT48
0,Adriani Elisabeth,Keempat,"16 Mei 2015 (5 tahun, 172 hari)",NaN,Lisanshine,"Lisa, Lisayang",Aku si vitamin C yang akan memberikan vitamin ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-10,Jakarta,2015-05-16
1,Amanina Afiqah Ibrahim,Kedelapan,"27 April 2019 (1 tahun, 191 hari)",NaN,Afiqaristic,Afiqah,Si gadis yang penuh energi dan akan menginspir...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-06,Jakarta,2019-04-27
2,Aninditha Rahma Cahyadi,Ketiga,"15 Maret 2014 (6 tahun, 234 hari)",NaN,Aninlicious,Anin,Bagaikan angin yang akan selalu menghembuskan ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-01-05,Palembang,2014-03-15
3,Ariella Calista Ichwan,Keenam,"8 April 2018 (2 tahun, 210 hari)",NaN,Ariellice,"Ariel, Eril",Jangan main-main dengan pesona sanguinku! Halo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-05-12,Jakarta,2018-04-08
4,Azizi Shafaa Asadel,Ketujuh,"29 September 2018 (2 tahun, 36 hari)",NaN,Zeemotion,"Zee, Zizi",Si gadis tomboi yang semangatnya meletup-letup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004-05-16,Kota Tangerang,2018-09-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Puti Nadhira Azalia,Kelima,NaN,NaN,Nadhiraction,"Puti, Pucchi","Si jahil yang penuh niat, namaku Pucchi! ""Pu-pu""",Tim KIII,NaN,NaN,"Lulus, 18 Mei 2020[7][8]",NaN,NaN,NaN,20 tahun,2000-06-07,Jakarta,2016-05-28
198,Aiko Harumi Nangin,Ketujuh,NaN,NaN,Aikofoni,Aiko,"Seperti panda: banyak makan, banyak tidur, tap...",Akademi Kelas A,NaN,NaN,"Keluar, 29 Juli 2020[9]",NaN,NaN,NaN,18 tahun,2002-03-23,Kota Bekasi,2018-09-29
199,Salma Annisa,Kedelapan,NaN,NaN,Salmate,Alma,Si melankolis yang berusaha menyentuhmu dengan...,Akademi Kelas A,NaN,NaN,"Mundur, 1 September 2020[10]",NaN,NaN,NaN,20 tahun,2000-08-16,Jakarta,2019-04-27
200,Shalza Grasita,Keenam,NaN,NaN,Shalzallies,Shalza,Satu satu aku sayang (Shalza!) Ingin menjadi s...,Akademi Kelas A,NaN,NaN,"Dipecat, 22 September 2020[11]",NaN,NaN,NaN,16 tahun,2004-10-07,Jakarta,2018-04-08
201,Melati Putri Rahel Sesilia,Keempat,NaN,NaN,Melatinited,"Melati, Meme",Di gen 4 ada bunga lho? (siapa???) Aku Melati ...,Tim J,NaN,NaN,"Lulus, 24 Oktober 2020[12]",NaN,NaN,NaN,20 tahun,2000-01-01,Jakarta,2015-05-16

In [ ]:
#######

In [118]:
# buat duplikasi jkt frame v2
jkt48_frame_v2 = jkt48_frame_v1

In [119]:
jkt48_frame_v2['Usia'] = None

In [120]:
today = dt.datetime.today()

In [121]:
#kalkulasikan usia member menggunakan tanggal lahir dan stamp tahun ini
coll = []
for i in jkt48_frame_v2['Tanggal Lahir']:
    coll.append(today - i)

In [122]:
jkt48_frame_v2['Usia'] = coll

In [123]:
jkt48_frame_v2['Usia'] = pd.to_numeric(jkt48_frame_v1['Usia'].dt.days, downcast='integer')

In [124]:
age = []
for i in jkt48_frame_v2['Usia']:
    try:
        age.append(int(i/365))
    except ValueError:
        age.append(None)

In [125]:
jkt48_frame_v2['Usia'] = age

In [147]:
jkt48_frame_v1 = jkt48_frame_v2

In [146]:
#assign lagi nilai v2 ke v1

#buat kolom baru tanggal keluar
jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].fillna(jkt48_frame_v1['Tanggal Lulus'])

jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].fillna(jkt48_frame_v1['Tanggal Lulus/ Mundur/Keluar'])

jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].fillna(jkt48_frame_v1['Tanggal Lulus/Mundur'])

jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].fillna(jkt48_frame_v1['Tanggal Mundur'])

jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].fillna(jkt48_frame_v1['Tanggal Mundur/Keluar'])

del jkt48_frame_v1['Tanggal Lulus/Mundur']

del jkt48_frame_v1['Tanggal Lulus']

del jkt48_frame_v1['Tanggal Lulus/ Mundur/Keluar']

del jkt48_frame_v1['Tanggal Mundur']

del jkt48_frame_v1['Tanggal Mundur/Keluar']

del jkt48_frame_v1['Mulai dan Lama Bergabung (di JKT48)']

del jkt48_frame_v1['Mulai dan Lama Bergabung (di JKT48) dan Masuk ke Kelas B']

KeyError: 'Tanggal Lulus'

In [150]:
#create column status terakhir
jkt48_frame_v1['Status Terakhir'] = None

result = []
for i in jkt48_frame_v1['Tanggal Keluar'].isna():
    result.append(i)

jkt48_frame_v1['Status Terakhir'] = result

In [163]:
#rapikan column tanggal keluar
regex = re.compile(r'[^A-Za-z0-9]+')
compiler = []
for i in jkt48_frame_v1['Tanggal Keluar']:
    try:
        a = re.sub(regex,' ',i)
        compiler.append(a)
    except TypeError:
        compiler.append(None)

jkt48_frame_v1['Tanggal Keluar'] = compiler

regex = re.compile(r'[0-9].*')
a = 0
for i in jkt48_frame_v1['Tanggal Keluar'].tolist():
    try:
        jkt48_frame_v1['Tanggal Keluar'][a] = re.findall(regex,i)
        a += 1
    except TypeError:
        i = None
        a += 1

jkt48_frame_v1['Tanggal Keluar'] = jkt48_frame_v1['Tanggal Keluar'].str[0]

In [206]:
#rapikan kolom tanggal keluar di excel

In [190]:
jkt48_frame_final = pd.read_excel('jkt48_frame_v2(2).xlsx')

test = []
for i in jkt48_frame_final['Tanggal Keluar']:
    try:
        for word in i.split():
            if word == "Januari":
                test.append(i.replace('Januari','01'))
            elif word == "Februari":
                test.append(i.replace('Februari','02'))
            elif word == "Maret":
                test.append(i.replace('Maret','03'))
            elif word == "April":
                test.append(i.replace('April','04'))
            elif word == "Mei":
                test.append(i.replace('Mei','05'))
            elif word == "Juni":
                test.append(i.replace('Juni','06'))
            elif word == "Juli":
                test.append(i.replace('Juli','07'))
            elif word == "Agustus":
                test.append(i.replace('Agustus','08'))
            elif word == "September":
                test.append(i.replace('September','09'))
            elif word == "Oktober":
                test.append(i.replace('Oktober','10'))
            elif word == "November":
                test.append(i.replace('November','11'))
            elif word == "Desember":
                test.append(i.replace('Desember','12'))
    except AttributeError:
        test.append(None)

test2 = []
for i in test:
    try:
        test2.append(dt.datetime.strptime(i,'%d %m %Y '))
    except TypeError:
        test2.append(None)
    except ValueError:
        test2.append(dt.datetime.strptime(i, '%d %m %Y'))

jkt48_frame_final['Tanggal Keluar'] = test2

In [196]:
jkt48_frame_final

,Nama,Generasi,Nama Fansclub,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Usia,Tanggal Lahir,Tempat Lahir,Bergabung di JKT48
0,Adriani Elisabeth,Keempat,Lisanshine,"Lisa, Lisayang",Aku si vitamin C yang akan memberikan vitamin ...,True,NaT,20.0,2000-05-10,Jakarta,2015-05-16
1,Amanina Afiqah Ibrahim,Kedelapan,Afiqaristic,Afiqah,Si gadis yang penuh energi dan akan menginspir...,True,NaT,14.0,2006-01-06,Jakarta,2019-04-27
2,Aninditha Rahma Cahyadi,Ketiga,Aninlicious,Anin,Bagaikan angin yang akan selalu menghembuskan ...,True,NaT,21.0,1999-01-05,Palembang,2014-03-15
3,Ariella Calista Ichwan,Keenam,Ariellice,"Ariel, Eril",Jangan main-main dengan pesona sanguinku! Halo...,True,NaT,20.0,2000-05-12,Jakarta,2018-04-08
4,Azizi Shafaa Asadel,Ketujuh,Zeemotion,"Zee, Zizi",Si gadis tomboi yang semangatnya meletup-letup...,True,NaT,16.0,2004-05-16,Kota Tangerang,2018-09-29
...,...,...,...,...,...,...,...,...,...,...,...
195,Puti Nadhira Azalia,Kelima,Nadhiraction,"Puti, Pucchi","Si jahil yang penuh niat, namaku Pucchi! ""Pu-pu""",False,2020-09-01,20.0,2000-06-07,Jakarta,2016-05-28
196,Aiko Harumi Nangin,Ketujuh,Aikofoni,Aiko,"Seperti panda: banyak makan, banyak tidur, tap...",False,2020-09-22,18.0,2002-03-23,Jakarta,2018-09-29
197,Salma Annisa,Kedelapan,Salmate,Alma,Si melankolis yang berusaha menyentuhmu dengan...,False,2020-10-24,20.0,2000-08-16,Jakarta,2019-04-27
198,Shalza Grasita,Keenam,Shalzallies,Shalza,Satu satu aku sayang (Shalza!) Ingin menjadi s...,False,NaT,16.0,2004-10-07,Karawang,2018-04-08
199,Melati Putri Rahel Sesilia,Keempat,Melatinited,"Melati, Meme",Di gen 4 ada bunga lho? (siapa???) Aku Melati ...,False,NaT,20.0,2000-01-01,Jakarta,2015-05-16

In [197]:
#buat dan rapikan kolom usia debut
jkt48_frame_final['Usia Debut'] = None

jkt48_frame_final['Usia Debut'] = (jkt48_frame_final['Bergabung di JKT48'] - jkt48_frame_final['Tanggal Lahir'])

jkt48_frame_final['Usia Debut'] = pd.to_numeric(jkt48_frame_final['Usia Debut'].dt.days, downcast='integer')

age = []
for i in jkt48_frame_final['Usia Debut']:
    try:
        age.append(int(i/365))
    except ValueError:
        age.append(None)

jkt48_frame_final['Usia Debut'] = age

In [207]:
#buat usia keluar column
jkt48_frame_final['Usia Keluar'] = None

jkt48_frame_final['Usia Keluar'] = (jkt48_frame_final['Tanggal Keluar'] - jkt48_frame_final['Tanggal Lahir'])

ukeluar = []
for i in jkt48_frame_final['Usia Keluar']:
    ukeluar.append(i.days)

jkt48_frame_final['Usia Keluar'] = ukeluar

age = []
for i in jkt48_frame_final['Usia Keluar']:
    try:
        age.append(int(i/365))
    except ValueError:
        age.append(None)

jkt48_frame_final['Usia Keluar'] = age

In [218]:
jkt48_frame_final

,Nama,Generasi,Nama Fansclub,Panggilan,Perkenalan,Status Terakhir,Tanggal Keluar,Usia,Tanggal Lahir,Tempat Lahir,Bergabung di JKT48,Usia Debut,Usia Keluar
0,Adriani Elisabeth,Keempat,Lisanshine,"Lisa, Lisayang",Aku si vitamin C yang akan memberikan vitamin ...,True,NaT,20.0,2000-05-10,Jakarta,2015-05-16,15.0,NaN
1,Amanina Afiqah Ibrahim,Kedelapan,Afiqaristic,Afiqah,Si gadis yang penuh energi dan akan menginspir...,True,NaT,14.0,2006-01-06,Jakarta,2019-04-27,13.0,NaN
2,Aninditha Rahma Cahyadi,Ketiga,Aninlicious,Anin,Bagaikan angin yang akan selalu menghembuskan ...,True,NaT,21.0,1999-01-05,Palembang,2014-03-15,15.0,NaN
3,Ariella Calista Ichwan,Keenam,Ariellice,"Ariel, Eril",Jangan main-main dengan pesona sanguinku! Halo...,True,NaT,20.0,2000-05-12,Jakarta,2018-04-08,17.0,NaN
4,Azizi Shafaa Asadel,Ketujuh,Zeemotion,"Zee, Zizi",Si gadis tomboi yang semangatnya meletup-letup...,True,NaT,16.0,2004-05-16,Kota Tangerang,2018-09-29,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Puti Nadhira Azalia,Kelima,Nadhiraction,"Puti, Pucchi","Si jahil yang penuh niat, namaku Pucchi! ""Pu-pu""",False,2020-09-01,20.0,2000-06-07,Jakarta,2016-05-28,15.0,20.0
196,Aiko Harumi Nangin,Ketujuh,Aikofoni,Aiko,"Seperti panda: banyak makan, banyak tidur, tap...",False,2020-09-22,18.0,2002-03-23,Jakarta,2018-09-29,16.0,18.0
197,Salma Annisa,Kedelapan,Salmate,Alma,Si melankolis yang berusaha menyentuhmu dengan...,False,2020-10-24,20.0,2000-08-16,Jakarta,2019-04-27,18.0,20.0
198,Shalza Grasita,Keenam,Shalzallies,Shalza,Satu satu aku sayang (Shalza!) Ingin menjadi s...,False,NaT,16.0,2004-10-07,Karawang,2018-04-08,13.0,NaN
199,Melati Putri Rahel Sesilia,Keempat,Melatinited,"Melati, Meme",Di gen 4 ada bunga lho? (siapa???) Aku Melati ...,False,NaT,20.0,2000-01-01,Jakarta,2015-05-16,15.0,NaN

In [220]:
jkt48_frame = jkt48_frame_final[['Nama', 'Generasi', 'Panggilan', 'Tempat Lahir', 'Tanggal Lahir', 'Bergabung di JKT48','Usia Debut', 'Status Terakhir','Tanggal Keluar', 'Usia Keluar', 'Nama Fansclub', 'Perkenalan', 'Usia']]

In [221]:
jkt48_frame.to_excel('JKT48_frame.xlsx')

/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:358: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if token is '':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:2437: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if options['min_type'] is 'min' and options['min_value'] == 0:
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:2440: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if options['max_type'] is 'max' and options['max_value'] == 0:
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:4999: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if props[i]['type'] is 'number':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:6827: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if data_bar['bar_axis_position'] is not 'none':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:6862: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if data_bar['bar_direction'] is 'left':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:6865: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if data_bar['bar_direction'] is 'right':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:6875: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if data_bar['bar_axis_position'] is 'middle':
/usr/lib/python3/dist-packages/xlsxwriter/worksheet.py:6878: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if data_bar['bar_axis_position'] is 'none':
/usr/lib/python3/dist-packages/xlsxwriter/chart.py:2497: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if val is 'right':
/usr/lib/python3/dist-packages/xlsxwriter/chart.py:2500: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if val is 'left':